* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;

}

header {
    background-color: #1F98F0;

}

.h-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 60px 0;

    h1 {
        color: #FFFFFF;
        font-size: clamp(1.875rem, 1.398rem + 2.39vw, 3.188rem);
        font-weight: 700;
    }

    p {
        color: #FFFFFF;
        font-size:clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem) ;
        font-weight: 400;
        padding: 30px 0;
    }
}

.h-right img {
    width: 100%;
}


@media (max-width: 875px) {
    .h-main {
        flex-direction: column-reverse;
    }
    .h-left{
        text-align: center;
    }
    
}



.u-main {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding: 60px 0;

    .card img {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .u-main {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.s-main {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 30px;
   
}
  @media (max-width: 822px) {
    .s-main {
       flex-direction: column-reverse;
  }
  }
.s-right .card {
    display: flex;
    gap: 30px;
    img{
        width: 80px;
        height:80px;
    }
}

.s-main .s-left img {
    width: 100%;
}


aside h1 {
    text-align: center;
    font-size: clamp(1.25rem, 0.841rem + 2.05vw, 2.375rem);
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.a-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;
    gap: 30px;
}

@media (max-width: 805px) {
    .a-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;
        gap: 20px;
    }
}
@media (max-width: 528px) {
    .a-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 0;
        gap: 20px;
    }
}
.card1 {
    text-align: center;

    p {
        font-family: 'Lato';
        text-align: center;
    }

    h1 {
        text-align: center;

    }
}

footer {
    width: 100%;
    height: max-content;
    padding: 60px 0;
    background: #1F98F0;

}

.f-main {
    display: flex;
    text-align: center;
    gap: 70px;
    justify-content: space-between;

    h1 {
        color: aliceblue;

    }
}

.y1 {
    color: #1F98F0;
    font-size: clamp(0.688rem, 0.46rem + 1.14vw, 1.313rem);
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

button {
    width: 223px;
    height: 60px;
    border: 0;
    color: #1F98F0;
    font-size: 16px;
    border-radius: 8px;

}
.s-right{
    img{
        width: 80px;
    }
}


@media (max-width: 602px) {
    .f-main{
        flex-direction: column
        ;
    }
}
